.link-list{
  display: flex; /* Use flexbox para alinhar os cards horizontalmente */
  flex-wrap: wrap; /* Permite que os cards quebrem para a próxima linha quando a largura for excedida */
  justify-content: flex-start; /* Alinhe os cards à esquerda */
  align-items: flex-start; /* Alinhe os cards ao topo */
}

.video-card {
  max-width: 400px; /* Define a largura máxima do cartão de vídeo */
  margin: 10px; /* Define margem para espaçamento entre os cartões */
  color: white;
  background-color: #00008B;
  border-radius: 15px;
}
.video-card-title{
  text-align: center;
}

.datails-button{
  background-color: #FFD700; /* Define a cor de fundo como amarelo */
  border-radius: 15px; /* Define o raio das bordas para torná-las mais arredondadas */
  margin: auto;/* Centraliza o texto no botão */
  width: 50%;
}
