<div *ngFor="let video of links" class="video-card">
  <mat-card class="video-card">
    <mat-card-title class="video-car-title">{{ video.title }}</mat-card-title>
    <mat-card-content>
      <iframe
        width="100%"
        height="315"
        src={{video.link}}
        frameborder="0"
        allowfullscreen
      ></iframe>
    </mat-card-content>
    <mat-card-actions class="video-card-button">
      <button mat-button class="datails-button">Detalhes</button>
    </mat-card-actions>
  </mat-card>
</div>
