
  <mat-toolbar>
    <mat-toolbar-row>
      <span class="title-part1">Animes</span>
      <span class="title-part2">Cut</span>
      <span class="example-spacer"></span>
      <button mat-button routerLink="login">Login</button>
      <button mat-raised-button color="primary">Cadastre-se</button>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <mat-form-field>
        <mat-label>Escolha um genero</mat-label>
        <mat-select [(ngModel)]="anime.typesTitle" (selectionChange)="searchAnimesByCategory()" name="typesTitle">
          <mat-option value="Shounen">Shounen</mat-option>
          <mat-option value="Shoujo">Shoujo</mat-option>
          <mat-option value="Seinen">Seinen</mat-option>
          <mat-option value="Josei">Josei</mat-option>
          <mat-option value="Isekai">Isekai</mat-option>
          <mat-option value="Gore">Gore</mat-option>
          <mat-option value="Slice of Life">Slice of Life</mat-option>
        </mat-select>
      </mat-form-field>
      <span class="example-spacer"></span>

      <input type="text" [(ngModel)]="anime.title" class="search-input" placeholder="Pesquisar" >
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with search icon" (click)="searchAnimes(anime.title)">
        <mat-icon>search</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>


