/* Estilização do footer */
.footer { /* Cor de fundo */
  padding: 10px 0; /* Espaçamento interno no topo e na parte inferior */
  margin-top: auto;

  .container {
    text-align: center; /* Centraliza o texto horizontalmente */
  }

  span {
    font-size: 14px; /* Tamanho da fonte */
    color: #888; /* Cor do texto (cinza sutil) */
  }
}
