<p>
  <mat-toolbar>
    <mat-toolbar-row>
      <span>AnimesCut</span>
      <span class="example-spacer"></span>
      <button mat-button>Login</button>
      <button mat-raised-button color="primary">Cadastre-se</button>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <mat-form-field>
        <mat-label>Escolha um genero</mat-label>
        <mat-select >
          <mat-option value="option1">Shounen</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with search icon">
        <mat-icon>search</mat-icon>
      </button>
      <input type="text" class="search-input" placeholder="Pesquisar" style="display: none;">
    </mat-toolbar-row>
  </mat-toolbar>
</p>

<script src="/navbar/navbar.js"></script>
